<!DOCTYPE html>
<html>
    <head>
        <title>Employee Management</title>
        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
      
    </head>
    <body>
       <div class="home-container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Employee Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/employee-edit">Edit Details</a>
                <a class="nav-item nav-link active " href="/leave-approval">Leave Approval  <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/review-details">Reviews</a>
              </div>
              <span class="navbar-text">
                <button type="button" class="btn btn-danger" onclick="location.href='/admin'">Log Out</button>
              </span>
            </div>
          </nav>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Days</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col">Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% employee.forEach(function(x) {%>
               
              
                  <tr>
                    <td><%= x.days %> </td>
                    <td><%= x.from_date%></td>
                    <td><%= x.to_date %></td>
                    <td><%=x.subject%></td>
                    <td><%=x.message%></td>
                   
                    <td>
                        
                        <button type="button" class="btn btn-success" onclick="location.href='/approve/<%=x.user_rid%>'">Approve</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='/deny/<%=x.user_rid%>'">Deny</button>
                    </td>
                  </tr>
                <%});%>
              </tr>
             
            </tbody>
          </table>
       </div>
              
    </body>
   
</html>